@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Student




<form action="/student/create" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="stdphoto" class="form-label">file</label>
        <input type="file" class="form-control" name="stdphoto" id="stdphoto">
    </div>


    <div class="mb-3">
        <label asp-for="Age" class="form-label">Age</label>
        <input type="text" class="form-control" asp-for="Age">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="Phone">
    </div>

    <div class="mb-3">
        <label asp-for="DepartmentID" class="form-label">Department</label>
        <select class="form-select" aria-label="Default select example" asp-for="DepartmentID" asp-items="ViewBag.depts"></select>
    </div>

@* 
    <div class="mb-3">
        <label for="DepartmentID" class="form-label">Department ID</label>
        <input type="text" class="form-control" name="DepartmentID" id="DepartmentID">
    </div> *@

    <input type="submit" class="btn btn-primary"/>
</form>
